body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* User List */

.user-list {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.user-option {
  width: 30%;
  border: 1px solid #DAD7D7;
  margin: 10px;
  color: #666;
  text-decoration: none;
}

.user-option:hover {
  border: 1px solid #3CAFCA;
}

.user-icon {
  height: 80px;
  width: 80px;
  margin:20px;
}

/* Create Form */

.create-form {
  text-align: center;
}

.create-form h2 {
  color: #3CAFCA;
}

.content {
  color: #666;
  padding-left: 5px;
  padding-right: 5px;
}

.create-form p {
  color: #666;
  font-size: 12px;
}

/* Create Success */

.create-success-page {
  text-align: center;
}

.create-success-page h2 {
  text-align: center;
  color: #3CAFCA;
}

/* Opp List */

.opp-list-container {
  text-align: center;
}

.opp-list {
  display: inline;
}

/* Opp Card */

.opp-card {
  padding: 10px;
}

.info-list {
  display: inline-flex;
}

.info {
  padding-left: 20px;
  padding-right: 20px;
}

/* Sign Up Form */

.signup-form {
  text-align: center;
}

.signup-form h2 {
  color: #3CAFCA;
}

.signup-form h4 {
  color: #757575;
}

.signup-form p {
  color: #666;
  font-size: 12px;
}
