body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* User List */

.user-list {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.user-option {
  width: 30%;
  border: 1px solid #DAD7D7;
  margin: 10px;
  color: #666;
  text-decoration: none;
}

.user-option:hover {
  border: 1px solid #3CAFCA;
}

.user-icon {
  height: 80px;
  width: 80px;
  margin:20px;
}

/* Create Form */

.create-form {
  text-align: center;
}

.create-form h2 {
  color: #3CAFCA;
}

.textfield {
  width: 60%;
  margin-bottom: 20px;
}

.content {
  color: #666;
  padding-left: 5px;
  padding-right: 5px;
}

.create-form p {
  color: #666;
  font-size: 12px;
}

/* Create Success */

.create-success-page {
  text-align: center;
}

.create-success-page h2 {
  text-align: center;
  color: #3CAFCA;
}
